html {
    height: 100%;
    width: 100%;
}

a {
    color: black;
    text-decoration: underline;
}

body {
    background-color: #7eddff;
    display: flex;
    height: 100%;

    .row {
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile {
        background-color: whitesmoke;
        margin-top: 30px;
        padding: 10px;
        text-align: center;
        border-radius: 15px;
        height: fit-content;

        .menu {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            img {
                user-select: none;
                margin: 15px;
                max-width: 25%;
                background-color: rgba(126, 221, 255, 0.9);
                border-radius: 10px;
                padding: 5px;
            }

            >img:first-of-type {
                margin-top: 30px;
            }

            img:hover {
                background-color: rgba(126, 221, 255, 0.5);
                transition: ease-in 0.5s;
                cursor: grab;
            }

            img:active {
                background-color: rgba(210, 240, 200, 0.6);
                transition: ease-in 0.1s;
            }

            .activado {
                background-color: rgba(190, 240, 170, 0.6);
            }
        }
    }

    .content {
        margin-top: 30px;
        text-align: center;

        .texto_content {
            padding: 10px;
        }

        h6 {
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }

    /**
        Elementos de content: About me, degrees, experience
    */

    .center {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        text-align: center;
    }

    .justify {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        text-align: justify;
    }

    .aside {
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        text-align: justify;
    }

    .content_inside {
        margin-bottom: 10px;
        padding: 10px;

        img {
            margin: 5px;
            max-width: 50px;
        }
    }

    .content_inside_flex {
        margin: 5px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        img {
            margin: 5px;
            max-width: 50px;
        }
    }

    /* Fin elementos de content */

    .footer {
        background-color: #ffdf69;
        text-align: center;

        img {
            max-width: 30px;
            padding: 2px;
        }
    }

    .space {
        padding-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: rgba(9, 42, 251, 0.9);
    }
}