html {
    height: 100%;
    width: 100%;
}

a {
    color: black;
    text-decoration: underline;
}

body {
    background-color: #7eddff;
    display: flex;
    height: 90%;

    .row {
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile {
        background-color: whitesmoke;
        margin-top: 30px;
        padding: 10px;
        text-align: center;
        height: 80%;
        border-radius: 15px;

        .menu {
            height: 90%;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            img {
                user-select: none;
                margin: 10px;
                max-width: 25%;
                background-color: rgba(126, 221, 255, 0.9);
                border-radius: 10px;
                padding: 5px;
            }

            img:hover {
                background-color: rgba(126, 221, 255, 0.5);
                transition: ease-in 0.5s;
                cursor: grab;
            }

            img:active {
                background-color: rgba(251, 187, 251, 0.6);
                transition: ease-in 0.1s;
            }

            .activado {
                background-color: rgba(251, 187, 251, 0.6);
            }
        }
    }

    .content {
        margin-top: 30px;
        text-align: center;
    }

    /**
        Elementos de content: About me, degrees, experience
    */
    .degrees {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        text-align: justify;

        .degree {
            margin: 10px;
            padding: 10px;

            img {
                max-width: 50px;
            }
        }

    }

    /* Fin elementos de content */

    .footer {
        background-color: whitesmoke;
        padding: 6px;
        border-radius: 10px;
        margin-top: 20px;
        text-align: center;
    }
}